<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">


        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/live.js"></script>
    </head>
    <body ng-app="sosTrance">

        <main ng-controller="mainCtrl">
            <div class="col-md-6" id="title">
                <h1>S.O.S Trance & Old machines</h1>
            </div>
            <div class="col-md-6" id="call">
                <p class="col-md-9">Call us : <span class="telNumber"> +48 517565692</span> OR  <span class="telNumber">+48 9203829480 </span></p>
                <ul id="languages">
                    <li> <a href=""><img src="img/pl.svg" ></a>  </li>
                    <li> <a href=""> <img src="img/de.svg" > </a></li>
                    <li> <a href=""> <img src="img/fr.svg" ></a> </li>
                    <li> <a href=""> <img src="img/en.svg"> </a></li>
                </ul>
            </div>
            <nav id='cssmenu'  ng-controller="navCtrl">
            <ul>
               <li ng-click="nav('home')" class='active'><a href='#'><span>Home</span></a></li>
               <li ng-click="nav('offer')"><a href='#'><span>Offer</span></a></li>
               <li ng-click="nav('cars')"><a href='#'><span>Cars</span></a></li>
               <li ng-click="nav('about')"><a href='#'><span>About us</span></a></li>
              
               <li class='last'><a href='#'><span>Contact</span></a></li>
            </ul>
            </nav>
            <section id="home">
                <img src="img/help-en.png" id="help-img" >
                <img src="img/laweta.png" id="laweta" >
                <div id="flipCards" class="col-md-12">


                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <div class="flip-content">
                                      <img src="img/towing.png" class="flip-icon" >
                                </div>
                                <div class="flip-title">
                                    Pomoc drogowa
                                </div>
                            </div>
                            <div class="back">
                                qweqw
                            </div>
                        </div>
                    </div>
                     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <div class="flip-content">
                                      <img src="img/scrap.png" class="flip-icon">
                                </div>
                                <div class="flip-title" >
                                    Renowacja zabytków
                                </div>
                            </div>
                            <div class="back">
                                qweqw
                            </div>
                        </div>
                    </div>
                     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <div class="flip-content">
                                    <img src="img/repair.png" class="flip-icon">
                                </div>
                                <div class="flip-title">
                                    Serwis samochodowy
                                </div>
                            </div>
                            <div class="back">
                                qweqw
                            </div>
                        </div>
                    </div>
                     <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                             <div class="front">
                                <div class="flip-content">
                                    <img src="img/scrap.png" class="flip-icon">
                                </div>
                                <div class="flip-title">
                                    Złomowanie pojazdów
                                </div>
                            </div>
                            <div class="back">
                                qweqw
                            </div>
                        </div>
                    </div>
                    
                 </div>
            </section>
          <!--   <section id="about">
                <h2>About</h2>
            </section>

            <section id="offer">
                   <h2>Offer</h2>
            </section> -->

        </main>
        <footer>
            <p>Copyright © S.O.S Trance & Old Machines | Wszelkie prawa zastrzeżone</p>
        </footer>
        


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>


    </body>
</html>
